.side-mini {
    position: fixed;
    right: 15px;
    top: 100px;
    width: 180px;
    background: white;
    color: white;
    padding: 15px;
    border-radius: 12px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 15px rgba(0,0,0,0.3);
    z-index: 999;
}

.side-mini h3 {
    margin: 0 0 10px;
    font-size: 18px;
    color: #030303;
}

.side-mini p {
    margin: 5px 0;
    font-size: 14px;
}

.side-mini hr {
    border: 0;
    border-top: 1px solid #444;
    margin: 10px 0;
}




